.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
Link{
  text-decoration: none;
}
.current img {
  height:350px;
  width:350px;
  border-radius: 4px;
  margin:10px;
 

}

.current p{
  padding:10px;
  width:920px;
}



div{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


h4{
  text-decoration: none;
}
.product-item img{
  height:300px;
  width:300px;
  border-radius: 4px;
  margin:10px;
  cursor: pointer;

}
.items{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap:20px;
}


*{
  font-family: "Poppins", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



li{
  list-style-type: none;
  cursor:pointer;
}

.button-con{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.container{
  display:flex;
  gap:10px;
  
}


.drinks img{
  height:200px;
  width:200px;
  border-radius: 4px;
  cursor: pointer;

}


input{
  height:30px;
  width:200px;
  margin:4px;
  border-radius: 4px;
  
}



